
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

/*Nav*/

.navbar .logo img {
  width: 175px;
}

.navbar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background: #f2f2f2;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f2f2f2 url("../img/logo.svg") no-repeat center center;
  background-size: 100px;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
  align-self: stretch;
  position: relative;
  top: -20px;
  padding: 90px;
  transition: opacity 0.2s;
}

.logo:hover {
  opacity: 0.9;
  cursor: pointer;
}

.navbar a {
  color: var(--dark);
  padding: 0 1rem;
  font-size: 1.2rem;
  transition: opacity 0.2s;
}

.navbar a:hover {
  opacity: 0.3;
}

.nav-social a span {
  font-size: 0.7rem;
}

.nav-social {
  width: 20%;
  justify-self: center;
}

.nav-site {
  width: 20%;
}

/* Showcase*/

.wrapper {
  height: 1200px;
  background: #f2f2f2 url("../img/bg main.jpg") no-repeat center center/cover;
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.showcase-content {
  padding: 20px;
  height: 800px;
  width: 60%;
  background: rgba(255, 255, 255, 0.89);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showcase img {
  width: 45%;
  transition: opacity 0.2s;
  padding: 1rem;
}

.showcase img:hover {
  cursor: pointer;
  opacity: 0.6;
}

h1 {
  color: rgb(75, 75, 75);
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  line-height: 0.8;
}

p {
  color: #5e5d5d;
  font-weight: 200;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.btn {
  color: rgb(82, 82, 82);
  font-size: 1.3rem;
  background: rgba(120, 253, 102, 0.767);
  padding: 2rem;
  transition: background 0.2s;
}

.btn:hover {
  cursor: pointer;
  background: rgb(107, 189, 121);
}

/*Testimonials*/
.testimonial-wrapper {
    width: 60%;
    border-radius: 10px;
  margin: auto;
  padding: 2rem;
  padding-top: 4rem;
  background: rgba(255, 255, 255, 0.164);
}

.testimonial-content {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.testimonial-content h5 {
  padding:1rem;
}
#testimonial img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: opacity 0.2s;
}

#testies {
  width: 20%;
}

.testimonial img:hover {
  cursor: pointer;
  opacity: 0.6;
}

/*Infor*/

.info{
    padding: 2rem;
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.info-img{
    width: 30%;
}
.info-img img {
  height: 500px;
}
.info-content{
    width: 60%;
}
.info-content p {
    padding: 2rem;
}

/*contact*/
.contact-wrapper{
    padding: 2rem;
    width: 60%;
    margin:auto;
}
.contact-wrapper h1{
    padding: 2rem;
}
.feedback-input {
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #4e4e4e;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    outline:0;
  }
  
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    width: 30%;
    font-size: 1.4rem;
    background: rgba(120, 253, 102, 0.767);   
    border:0;
    cursor:pointer;
    color: rgb(82, 82, 82);
    padding: 2rem;
    transition: all 0.3s;
    margin-top:-4px;
  }
  [type="submit"]:hover {   background: rgb(107, 189, 121);  }
